<a href="https://colab.research.google.com/github/aysckmk/BLPS254/blob/main/W11AlperenHoca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. Boş copy nedir? ".Copy" nedir? DeepCopy nedir? Shallow Copy nedir? Bunlar oluşturduğumuz df'de neleri değiştirir?
* Copy nesnenin indekslerinin ve verilerinin bir kopyasını oluşturur. Bu işlem serileri ya da data frameleri döndürür.
* DeepCopy verilerin ve dizinlerin bir kopyası dahil olmak üzere derin bir kopya oluşturur. .Copy içindeki deep parametresi deep=True olduğunda, veriler kopyalanır ancak gerçek Python nesneleri yinelemeli olarak kopyalanmaz, yalnızca nesneye yapılan başvuru kopyalanır. Bu, nesne verilerini yinelemeli olarak kopyalayan Standart Kitaplık'taki copy.deepcopy'nin tersidir.
* ShallowCopy'de deep=False olduğunda gerçekleşir, çağırılan nesnenin verileri veya dizini kopyalanmadan yeni bir nesne oluşturulur (yalnızca verilere ve dizine yapılan başvurular kopyalanır). Orijinal datanın verilerinde yapılan herhangi bir değişiklik ShallowCopy'e yansıyacaktır.

In [9]:
#Boş Copy

import pandas as pd
X = [[6,5,7,9],[2,4,8,0]]
X = pd.DataFrame(data=X)
Y = X
print(Y)
print("X : ",id(X))
print("Y : ",id(Y))
print("X ve Y  birbirine eşit midir: ", (id(X) == id(Y)))

   0  1  2  3
0  6  5  7  9
1  2  4  8  0
X :  140272017075984
Y :  140272017075984
X ve Y  birbirine eşit midir:  True

In [10]:
# .Copy ve Shallow Copy

import copy
Y = copy.copy(X)

print(Y)
print("X : ",id(X))
print("Y : ",id(Y))
print("X ve Y birbirine eşit midir: ", (id(X) == id(Y)))
print("X listesi ilk eleman : ",id(X.iloc[0,0]))
print("Y listesi ilk eleman : ",id(Y.iloc[0,0]))
print("X listesi ilk elemanı ve Y listesi ilk elemanı  birbirine eşit midir: ", ((id(X.iloc[0,0])) == id(Y.iloc[0,0])))

   0  1  2  3
0  6  5  7  9
1  2  4  8  0
X :  140272017075984
Y :  140272017074448
X ve Y birbirine eşit midir:  False
X listesi ilk eleman :  140272017063664
Y listesi ilk eleman :  140272017063696
X listesi ilk elemanı ve Y listesi ilk elemanı  birbirine eşit midir:  False

In [13]:
#DeepCopy

import copy

Y = copy.deepcopy(X)

print(Y)
print("X : ",id(X))
print("Y : ",id(Y))
print("Y ve B  birbirine eşit midir: ", (id(X) == id(Y)))
print("X listesi ilk eleman: ",id(X.iloc[0,0]))
print("Y listesi ilk eleman: ",id(Y.iloc[0,0]))
print("X listesi ilk elemanı ve Y listesi ilk elemanı birbirine eşit midir: ", (float(id(X.iloc[0,0])) == float(id(Y.iloc[0,0]))))

   0  1  2  3
0  6  5  7  9
1  2  4  8  0
X :  140272017075984
Y :  140272127498176
Y ve B  birbirine eşit midir:  False
X listesi ilk eleman:  140272017063888
Y listesi ilk eleman:  140272017063248
X listesi ilk elemanı ve Y listesi ilk elemanı birbirine eşit midir:  True

2. e-01 yerine 0.78'i nasıl görebiliriz?


* Sayının formatını float olarak dönüştürüp integer bir değer elde edebiliriz ya da noktadan sonra görmek istediğimiz x sayısı kadar '{:.x}'.format(e-01) yazıp sayının formatını değiştirebiliriz.

3. "np.Log()" doğal logaritma dediğimiz şekilde mi gelir yoksa log2 tabanında mı gelir?

 np.log(): logaritma e tabanında bir dönüşüm yapar. Örneğin:

In [4]:
import numpy as np

e = np.e

print("e sayısının np.log ile dönüşümünden çıkan sonuç:  ",np.log(e))
print("e^9 sayısının np.log ile dönüşümünden çıkan sonuç:  ",np.log(e**9))
print("e^e sayısının np.log ile dönüşümünden çıkan sonuç:  ",np.log(e**e))
print("8 sayısının np.log ile dönüşümünden çıkan sonuç: ",np.log(8))

e sayısının np.log ile dönüşümünden çıkan sonuç:   1.0
e^9 sayısının np.log ile dönüşümünden çıkan sonuç:   9.0
e^e sayısının np.log ile dönüşümünden çıkan sonuç:   2.718281828459045
8 sayısının np.log ile dönüşümünden çıkan sonuç:  2.0794415416798357

4. Yeo-Johnson çok büyük değerlerde uygulanamıyor mu? Neden Income değerlerinde ki "10" olan değerimizi arttırdığımızda(1000 yaptığımızda) çıktımızda bozulmalar oluyor?

In [14]:
import pandas as pd
from sklearn.preprocessing import PowerTransformer
df = pd.DataFrame({
    "Income": [15,18,120,10],
    "Age": [25,-1818,42,51],
    "Income_2":[15000,18000,120000,10000]
})
df_scaled= df.copy()
col_names=["Income","Age","Income_2"]
features=df_scaled[col_names]
features

scaler=PowerTransformer(method="yeo-johnson")
df_scaled[col_names]=scaler.fit_transform(features.values)
df_scaled

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

     Income       Age  Income_2
0 -0.317514 -0.165105       0.0
1  0.006579 -1.546334       0.0
2  1.543055  0.613769       0.0
3 -1.232121  1.097670       0.0

Yeo-Johnson dönüşümü, Box-Cox ile aynı amaç doğrultusunda, normal olmayan bir değişkenin normale dönüştürülmesidir. Ancak Yeo-Johnson daha da ileri giderek y'nin 0 ve hatta negatif değerlere sahip olmasına izin veriyor. Bir diğer deyişle, veri setinde negatif ve sıfır değere sahip gözlemler olduğunda kullanışlı hale geliyor.

In [15]:
scaler.lambdas_

array([ -0.92945142,   1.49358606, -18.94427159])

Yeo-Johnson, daha tek biçimli bir veri kümesi oluşturmak için düşük varyanslı verileri şişirir ve yüksek varyanslı verileri söndürür. Yukarıda ki örneğimizde income2 değerleri yüksek varyanslı olduğu için diğer iki kolondaki değerlere yaklaştırabilmek için method income2 değerlerini düşürmüştür.